body {
    background-color: #E74C3C !important;
    font-family: DotGothic16 !important;
}

button {
    font-family: DotGothic16;
    /*grid-column: auto;*/
}

label {
    font-weight: bold;
    font-size: large;
}

#previous-button {
    background-color: rgb(249, 249, 128);
}

#next-button {
    background-color: rgb(129, 157, 241);
}

#submit-button {
    background-color: #7DCEA0;
}

div.#dataUser {
    clear: both !important;
}

/*he usado el link directo de la imagen ya que no cargaba cuando la proporcionaba desde la carpeta*/
img {
    border: rgb(6, 158, 204) 2px inset;
    /*background-color: #ffffff;*/
    background-image: url('https://cdn.lospec.com/gallery/pokeball-577961.png');
    background-size: cover;
}

#card-container {
    border: 10px rgb(6, 158, 204) outset;
    max-width: 500px;
    background-color: rgb(210, 210, 210);
    margin: 0 auto;
}

.pokemon-card {
    text-align: center;
    padding: 10px;
}

.row-container {
    text-align: center !important;
    padding: 10px;
}

#pokemon-name-search {
    background-color: #D5D8DC;
    font-family: DotGothic16;
}
